<div ng-controller="HeaderController">


  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu" ng-if="authentication.user">
    <div class="item">
      <img class="ui image" src="modules/core/client/img/brand/logo.png" />
    </div>
    <div class="active teal item" ng-show="authentication.user">
      Welcome  <span ng-bind="authentication.user.displayName"></span>!
    </div>
    <div ng-repeat="item in menu.items | orderBy: 'position'"
    ng-if="item.shouldRender(authentication.user) && item.type === 'dropdown'"
    ng-switch="item.type"
    ng-class="{ 'item': item.type !== 'dropdown', 'ui dropdown item': item.type === 'dropdown' }"
    class="{{item.class}}">

    <span ng-switch-when="dropdown">{{::item.title}}</span><i ng-switch-when="dropdown" class="dropdown icon"></i>
    <div class="menu" ng-switch-when="dropdown">
      <a ui-sref="{{subitem.state}}" ng-bind="subitem.title" ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" class="item"></a>
    </div>
  </div>
  <a class="item" ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.type !== 'dropdown'" ui-sref="{{item.state}}" ng-bind="item.title"></a>
</div>



<!-- TopBar Menu -->
<div class="ui inverted vertical top-menu center aligned segment">
  <div class="ui container">
    <div class="ui large inverted secondary menu">
      <a class="toc item" ng-click="toggleCollapsibleMenu()">
        <i class="sidebar icon"></i>
      </a>
      <a class="logo item" href="/">
        <img class="ui image" src="modules/core/client/img/brand/logo.png" />
      </a>

      <div class="right item" ng-hide="authentication.user">
        <a class="ui inverted button" ui-sref="authentication.signin">Sign In</a>
        <a class="ui inverted button" ui-sref="authentication.signup">Sign Up</a>
      </div>
      <div class="ui right dropdown item" ng-show="authentication.user">
        <img class="ui avatar image" ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}">
        <span ng-bind="authentication.user.displayName"></span> <i class="dropdown icon"></i>
        <div class="menu">
          <div class="divider"></div>
          <a class="item" href="/api/auth/signout" target="_self">
            <i class="power icon"></i>
            Signout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
