<!-- <div class="ui vertical inverted menu" >
  <div class="item">
    <img class="ui image" src="modules/core/client/img/brand/logo.png" />
  </div>
  <div class="item">
    Welcome
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
  <div class="item">
    <a href="#">Consult Myra</a>
  </div>
</div> -->

<div class="ui vertical menu" ng-controller="HeaderController">
  <div class="active teal item" ng-show="authentication.user">
    Welcome  <span ng-bind="authentication.user.displayName"></span>!
  </div>
  <div ng-repeat="item in menu.items | orderBy: 'position'"
    ng-if="item.shouldRender(authentication.user) && item.type === 'dropdown'"
    ng-switch="item.type"
    ng-class="{ 'item': item.type !== 'dropdown', 'ui dropdown item': item.type === 'dropdown' }"
    class="{{item.class}}">

    <span ng-switch-when="dropdown">{{::item.title}}</span><i ng-switch-when="dropdown" class="dropdown icon"></i>
    <div class="menu" ng-switch-when="dropdown">
      <a ui-sref="{{subitem.state}}" ng-bind="subitem.title" ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" class="item"></a>
    </div>
  </div>
  <a class="item" ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.type !== 'dropdown'" ui-sref="{{item.state}}" ng-bind="item.title"></a>

</div>
