<section>
  <div class="page-header">
    <h1>Calendar events</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="calendarEvent in vm.calendarEvents"
       data-ui-sref="calendarEvents.view({ calendarEventId: calendarEvent._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="calendarEvent.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="calendarEvent.user" data-ng-bind="calendarEvent.user.displayName"></span>
        <span data-ng-if="!calendarEvent.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="calendarEvent.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.calendarEvents.$resolved && !vm.calendarEvents.length">
    No Calendar events yet, why don't you <a data-ui-sref="calendarEvents.create">create one</a>?
  </div>
</section>
