<!-- <section>
  <div class="page-header">
    <h1>Calendar events</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="calendarEvent in vm.calendarEvents"
       data-ui-sref="calendarEvents.view({ calendarEventId: calendarEvent._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="calendarEvent.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="calendarEvent.user" data-ng-bind="calendarEvent.user.displayName"></span>
        <span data-ng-if="!calendarEvent.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="calendarEvent.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.calendarEvents.$resolved && !vm.calendarEvents.length">
    No Calendar events yet, why don't you <a data-ui-sref="calendarEvents.create">create one</a>?
  </div>
</section> -->

<div class="ui container" ng-init="vm.render()">
  <div class="ui centered grid">
    <div class="twelve wide column">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<div class="calendar ui modal">
  <div class="header">
    Calendar
  </div>
  <div class="image content">
    <div class="ui medium image">

    </div>
    <div class="description">
      <form class="ui form">
        <input type="text" />
        <textarea></textarea>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
