<div class="ui container" ng-init="vm.render()">
  <div class="ui centered grid">
    <div class="ten wide column">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<div class="calendar ui small modal">
  <div class="header">
    Calendar
  </div>
  <div class="image content">
    <div class="ui medium image">

    </div>
    <div class="description">
      <form class="ui form">
        <input type="text" />
        <textarea></textarea>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
