
<div class="ui main container">
  <div class="ui basic segment">
    <h1 class="ui header">{{vm.userGroup._id ? 'Edit User group' : 'New User group'}}</h1>
    <div class="ui divider"></div>
    <div class="ui grid segment">
      <div class="ten wide column ">
          <form name="vm.form.userGroupForm" class="ui form" ng-submit="vm.save(vm.form.userGroupForm.$valid)">
            <div class="field">
              <label>Name</label>
              <input type="text" ng-model="vm.userGroup.name" id="name" placeholder="Enter name of your group"/>
            </div>

            <div class="field">
              <label>Users</label>
              <select class="ui fluid multiple search dropdown"
                ng-model="vm.userGroup.users"
                multiple=""
                ng-options="user.displayName for user in vm.users track by user._id"
                placeholder="Select users">
              </select>
            </div>

            <div class="field">
              <button type="submit" class="ui positive button">{{vm.userGroup._id ? 'Update' : 'Create'}}</button>
            </div>

          </form>
      </div>
    </div>
  </div>
</div>
