<div class="ui main basic segment container" ng-init="vm.initMyProgram()">
  <div class="ui grid">
    <div class="four wide column">
      <img ng-src="{{vm.program.imageUrl}}" class="ui medium bordered rounded image"/>
    </div>
    <div class="twelve wide column">
      <h1 class="ui header" ng-bind="vm.program.name"></h1>
      <p ng-bind="vm.program.description"></p>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui three column grid">

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive line chart icon"></i>
        </div>
        <div class="content">
          <div class="header">Diet Program</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive trophy full icon"></i>
        </div>
        <div class="content">
          <div class="header">Exercise</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive heartbeat icon"></i>
        </div>
        <div class="content">
          <div class="header">Stress Relieving Therapies</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive child icon"></i>
        </div>
        <div class="content">
          <div class="header">Baby Names</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive newspaper icon"></i>
        </div>
        <div class="content">
          <div class="header">Content</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive users icon"></i>
        </div>
        <div class="content">
          <div class="header">Community</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive user icon"></i>
        </div>
        <div class="content">
          <div class="header">Hubby Corner</div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive shopping bag icon"></i>
        </div>
        <div class="content">
          <div class="header">The Buying Therapy <i class="smile icon"></i></div>
        </div>
      </a>
    </div>

    <div class="column">
      <a class="ui fluid link card">
        <div class="image center-text">
          <i class="massive cubes icon"></i>
        </div>
        <div class="content">
          <div class="header">Natural Wisdom Corner</div>
        </div>
      </a>
    </div>

  </div>
