<section class="ui basic segment">
  <div class = "ui main text container">

    <h1 class="ui header">Articles</h1>
    <div class="ui divider"></div>


    <div class="ui link cards" data-ng-if="vm.articles.$resolved && vm.articles.length">
      <a class="fluid card" data-ng-repeat="article in vm.articles"
      data-ui-sref="articles.view({ articleId: article._id })">
      <div class="image">
        <img ng-src="{{article.featuredImage}}">
      </div>
      <div class="content">
        <div class="header" ng-bind="article.title"></div>
        <div class="description" ng-bind="article.excerpt"></div>
      </div>
      <div class="extra content">
        <span class="right floated" ng-bind="article.createdAt | date: 'EEEE, dd MMM yyyy'"></span>
      </div>
    </a>
  </div>
  <div class="ui tertiary inverted teal segment" data-ng-if="vm.articles.$resolved && !vm.articles.length">
    <p class="ui text container">No Articles yet, why don't you <a data-ui-sref="articles.create">create one</a>?</p>
  </div>

</div>

</section>
