<div class="ui main container">
  <div class="ui basic segment">
    <h1 class="ui header">Consult Myra</h1>
    <div class="ui divider"></div>
    <div class="ui comments" ng-if="vm.messages.length">
      <div class="comment" ng-repeat="message in vm.messages">
        <a class="avatar">
          <img ng-src="{{message.fromUser.profileImageURL}}"/>
        </a>
        <div class="content">
          <a class="author">{{message.fromUser.displayName}}</a>
          <div class="metadata">
            <div class="date" ng-bind="message.createdAt | date:'mediumTime'"></div>
          </div>
          <div class="text" ng-bind-html="message.text"></div>
        </div>
      </div>
    </div>
    <form name="vm.form.privateChatForm" class="ui reply form" ng-submit="vm.communicate();">
      <div class="field">
        <textarea ng-model="vm.messageText"></textarea>
      </div>
      <button class="ui primary submit labeled icon button" type="submit" ng-disabled="!vm.messageText.length">
        <i class="icon send"></i> Reply
      </button>
    </form>
  </div>
</div>
