<div class="ui container">
  <div class="ui three column grid">
    <div class="column">
      <a class="ui fluid link card" href="http://imojo.in/ayv50b" target="_blank">
        <div class="image">
          <img src="/images/avatar/large/daniel.jpg">
        </div>
        <div class="content">
          <div class="header">Plan 1</div>
        </div>
      </a>
    </div>
    <div class="column">
      <a class="ui fluid card" href="http://imojo.in/e4kxju" target="_blank">
        <div class="image">
          <img src="/images/avatar/large/helen.jpg">
        </div>
        <div class="content">
          <div class="header">Plan 2</div>
        </div>
      </a>
    </div>
    <div class="column">
      <a class="ui fluid card" href="http://imojo.in/1r8p21" target="_blank">
        <div class="image">
          <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="content">
          <div class="header">Plan 3</div>
        </div>
      </div>
    </a>
  </div>
</div>
